.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea
/app/app-release.apk
app/app-devcert.apk
app/app-tmp.apk
app/certificategenerator-windows-64.jar
app/make-ml-aware.sh
